body{
  background-color: #008080;
  font-family: "Jersey 10";
  margin: 0;
  height: 100%;
  overflow: hidden;
}
@font-face {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(Jersey10-Regular.ttf) format("truetype");
  }  

*{
  box-sizing: border-box;
}

h1{
  color: white;
  font-family: "Jersey 10";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 0%;
}

p{
  margin:0;
  color: black;
  font-size: 24px;
  letter-spacing: 1px;
}

video{
  border-top: #808080; 
  border-bottom: white; 
  border-left: #808080; 
  border-right: white; 
  border-width: 2px; border-style: solid;
  width: 100%; height: 100%;
}

button {
  background-color: #c0c0c0;
  color: black;
  font-family: "Jersey 10";
  font-size: 24px;
  letter-spacing: 1px;
  border-top: white;
  border-bottom: black;
  border-left: white;
  border-right: black;
  border-width: 2px;
  border-style: solid;
  outline: 2px solid #afafaf;
  outline-offset: -4px;
  min-width: 104px;
  /* padding-left: 24px;
  padding-right: 24px;
  margin-left: 16px;
  margin-top: 12px; */
  cursor: pointer;
}

button:active {
  border: 2px solid #808080;
}

.modal {
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: 1fr 3fr 1fr;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin-left: auto; margin-right: auto;
}

.modal-content {
  background-color: #c0c0c0;
  margin:1% auto; /* 15% from the top and centered */
  padding: 8px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  outline: 2px solid #808080;
  outline-offset: -4px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content > div.header {
  background-color: #000080;
  padding: 4px;
  padding-left: 8px;
  grid-area: header;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}
.close {
  background-color: #c0c0c0;
  border-top: 2px solid white; border-bottom: 2px solid black; border-left: 2px solid white; border-right: 2px solid black;
  outline: 2px solid #afafaf; outline-offset: -4px;
  width: 30px; height: 30px;
  display: flex; justify-content: center; align-items: center;
  text-align: center; align-items: center;
  color: black; font-size: 24px;
}
.close:hover {
  cursor: pointer;
}
.close:active {
  border: 2px solid #808080;
}
.play {
  background-color: #c0c0c0;
  border-top: 2px solid white; border-bottom: 2px solid black; border-left: 2px solid white; border-right: 2px solid black;
  outline: 2px solid #afafaf; outline-offset: -4px;
  width: 32px; height: 32px;
  display: flex; justify-content: center; align-items: center;
  text-align: center; align-items: center;
  color: black; font-size: 24px;
}
.play:hover {
  cursor: pointer;
}
.play:active {
  border: 2px solid #808080;
}
.modal-content > div.content {
  margin: 8px;
  margin-bottom: 16px; margin-top: 16px;
  grid-area: content;
  display: flex;
  text-align: left; align-items: flex-start; justify-content: space-evenly;
}
.modal-content > div.footer {
  margin: 8px;
  margin-top: 0px;
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-top: 2px solid #808080;
}

.footer{
  gap:1rem;
  padding:1rem 0rem 0rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
}